<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163971258993-t41i81rsdigjggsk439i9jldi9fnfa1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163971258993-t41i81rsdigjggsk439i9jldi9fnfa1u</string>
	<key>API_KEY</key>
	<string>AIzaSyASxoPppXAEJ3DgHb1sAUm1m1ZZSOPggT0</string>
	<key>GCM_SENDER_ID</key>
	<string>163971258993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demoapp.JobsApp</string>
	<key>PROJECT_ID</key>
	<string>jobsapp-d6aef</string>
	<key>STORAGE_BUCKET</key>
	<string>jobsapp-d6aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163971258993:ios:36853024286b1d80dc19d0</string>
</dict>
</plist>